.hero{
    height: 100vh;
    position: relative;
}

.hero figure{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero figure video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.9);
}

.hero-txt{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
  
.hero-title{
    font-size: 5.8vw;
}

.mo{
    display: none;
}

.aboutMe{
    display: flex;
    margin-top: 6rem;
    justify-content: space-between;
}

.subtitle{
    margin-top: 3rem;
    font-size: 50px;
}

.title{
    font-size: 13vw;
    margin-bottom: 6rem;
}

.aboutMe-desc h4{
    margin-bottom: 3rem;
}

.amContent p{
    margin-bottom: 1rem;
}

.lastContent{
    margin-bottom: 0;
}


figure{
    width: 740px;
    height: 860px;
    overflow: hidden;
}

figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}