.hero{
    height: 100vh;
    position: relative;
}

.hero figure{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero figure video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.9);
}

.hero-txt{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
  
.hero-title{
    font-size: 5.8vw;
}

.mo{
    display: none;
}

.aboutMe{
    display: flex;
    margin-top: 6rem;
    justify-content: space-between;
    align-items: flex-end;
}

.subtitle{
    margin-top: 3rem;
    font-size: 50px;
}

.title{
    font-size: 13vw;
    margin-bottom: 6rem;
}

.only-tab{
    display: none;
}

.aboutMe-desc h4{
    margin-bottom: 3rem;
}

.amContent p{
    margin-bottom: 1rem;
}

.lastContent{
    margin-bottom: 0;
}

.aboutMe-dl {
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
    display: grid;
    grid-template-columns: 170px 1fr;
    gap: .5rem;
}

.aboutMe-dl dt{
    text-transform: uppercase;
    font-weight: var(--weight1);
}


.aboutMe figure{
    width: 740px;
    height: 860px;
    overflow: hidden;
    margin-bottom: 3.5rem;
}

.aboutMe figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.myExp{
    height: 444px;
    background: url(../img/experience_bgimg.jpg) no-repeat 50% 50% / cover ;
}

.myExp h1{
    padding-top: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}

.exp-wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.exp-wrap h2{
    margin-bottom: 1rem;
}

.exp-list li{
    margin-bottom: .5rem;
}

.exper h4{
    margin-bottom: 1rem;
}