@media (max-width:1024px){
    .hero{
        width: 100%;
        height: 1024px;
    }

    .non-tab{
        display: none;
    }

    .only-tab{
        display: block;
        text-align: center;
    }

    .aboutMe{
        display: grid;
        grid-template-columns: 8fr 4fr;

    }

    .aboutMe figure {
        width: auto;
        height: auto;
        overflow: hidden;
        flex: 1;
    }

    .only-tab{
        grid-column: 1/3;
    }

}