.hero{
    height: 100vh;
    position: relative;
}

.hero figure{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero figure video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.9);
}

.hero-txt {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 3rem 3rem;
    background: #ffffff1f;
    border-radius: 36px;
    backdrop-filter: blur(10px);
    /* border: 1px solid #ffffff5c; */
    /* position: relative; */
}
  
.hero-title {
    font-size: 5.8vw;
    line-height: 0.9;
}

.mo{
    display: none;
}

.aboutMe {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr 700px;
    column-gap: 1rem;
}

.aboutMe-desc{
    /* grid-column: 3/1; */
}

.subtitle {
    margin-top: 1rem;
    font-size: 50px;
}

.title {
    font-size: 15rem;
    margin-bottom: 3rem;
    margin-top: -2.5rem;
}

.only-tab{
    display: none;
}

.aboutMe-desc h2{
    margin-bottom: 3rem;
}

.amContent p{
    margin-bottom: 1rem;
}

.lastContent{
    margin-bottom: 0;
}

.aboutMe-dl {
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
    display: grid;
    grid-template-columns: 170px 1fr;
    gap: .5rem;
}

.aboutMe-dl dt{
    text-transform: uppercase;
    font-weight: var(--weight1);
}


.aboutMe figure {
    overflow: hidden;
    margin-bottom: 3.5rem;
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: end;
    border-radius: 3rem;
    line-height: 0;
}

.aboutMe figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.myExp {
    background: url(../img/sky-bg.jpg) no-repeat 50% 50% / cover;
    background-attachment: fixed;
    padding-top: 6rem;
    border-radius: 3rem 3rem 0 0 ;
}

.exp-title{
    text-align: center;
    font-size: 7vw;
}

.exp-title+p{
    text-align: center;
    margin-bottom: 3rem;
}

.exp-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    background: #ffffff78;
    padding: 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
}

.exp-wrap h2 {
    margin-bottom: 2rem;
}

.exp-list li{
    margin-bottom: .5rem;
    display: grid;
    grid-template-columns: 120px 1fr;
}

.exp-list-last {
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.exper h4{
    margin-bottom: 1rem;
}

.skill {
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    background: url(../img/sky-bg.jpg) no-repeat 50% 50% / cover;
    background-attachment: fixed;
    border-radius: 0 0 3rem 3rem;
}

.skill-title+p{
    margin-bottom: 2rem;
}

.skill-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    gap: 1rem;
    text-align: left;
}

.skill-grid>li {
    /* border: 1px solid var(--main-color); */
    border-radius: 1rem;
    transition: all 0.5s ease 0s;
    background: #ffffff78;
    padding: 2rem;
    backdrop-filter: blur(10px);
}

.skill-grid>li:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.skill-grid>li>h4{
    margin-bottom: 1rem;
}

.popup{
    margin-bottom: 6rem;
}

.popup .popup-wrap{
    width: 100%;
}

.popup-title{
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.popup-title+p{
    text-align: center;
    margin-bottom: 3rem;
}

.popup-train .popup-list{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.popup-list h4{
    padding: .5rem;
}

.popup-list p{
    padding: .5rem;
}

.popup-list figure{
    width: 100%;
    aspect-ratio: 1/1;
}

.popup-list figure img{
    width: 100%;
}

.poster{
    margin-bottom: 6rem;
}

.poster .poster-wrap{
    width: 100%;
}

.poster-title{
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.poster-title+p{
    text-align: center;
    margin-bottom: 3rem;
}

.poster-train .poster-list{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.poster-list h4{
    padding: .5rem;
}

.poster-list p{
    padding: .5rem;
}

.poster-list figure{
    width: 100%;
    aspect-ratio: 1/1;
}

.poster-list figure img{
    width: 100%;
}

.banner{
    margin-bottom: 6rem;
}

.banner .banner-wrap{
    width: 100%;
}

.banner-title{
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.banner-title+p{
    text-align: center;
    margin-bottom: 3rem;
}

.banner-train .banner-list{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.banner-train{
    transition-timing-function: linear !important;
}

.banner-list figure{
    width: 100%;
}

.banner-list figure img{
    width: 100%;
}

.banner-list-desc{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.banner-desc-p{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.project{
    margin-top: 6rem;
}

.project h3{
    text-align: center;
    margin-bottom: 1rem;
}
.project p{
    text-align: center;
    margin-bottom: 2rem;
}

.project-sticky-menu-est {
    display: flex;
    gap: 1rem;
    position: sticky;
    left: 0;
    top: 4.5rem;
    margin-bottom: 2rem;
}

.project-sticky-menu-est a {
    display: block;
    background-color: #fff;
    padding: .5rem 1.5rem;
    border-radius: 1rem;
    background-color: #001774;
    color: #fff;
}

.project-sticky-menu-est a:hover {
    background-color: #fff;
    color: #001774;
}

.project-sticky-menu-bakee{
    display: flex;
    gap: 1rem;
    position: sticky;
    left: 0;
    top: 4.5rem;
    margin-bottom: 2rem;

}

.project-sticky-menu-bakee a{
    display: block;
    background-color: #A05913;
    padding: .5rem 1.5rem;
    border-radius: 1rem;
    color: #fff;
}

.project-sticky-menu-bakee a:hover{
    background-color: #fff;
    color: #A05913;
}

.project-img{
    line-height: 0;
    text-align: center;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000000000;
    padding: 1rem 0;
    /* filter: blur(0); */
    opacity: 1;
    pointer-events: auto;
    transition: all 1s ease 0s;
}
header.fadeout{
    filter: blur(100px);
    opacity: 0;
    pointer-events: none;
}

.gnb {
    display: inline-flex;
    gap: 2rem;
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0rem 2rem;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
    border-radius: 100px;
}

.gnb a:hover{
    color: var(--main-color);
}
.gnb>li{
    position: relative;
    padding: 1rem 0;
}

.dep2 {
    position: absolute;
    left: -17px;
    top: 59px;
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem 1rem;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
    border-radius: 0 0 13px 13px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    /* max-height: 0px; */
    /* overflow: hidden; */
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s ease 0s;
}

.gnb>li:hover .dep2{
    opacity: 1;
    pointer-events: auto;
}

.btn-menu{
    display: none;
}

.header-smart{
    display: none;
}