@media (max-width:768px){
    .hero{
        width: 100%;
        height: 800px;
    }

    .aboutMe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .title{
        margin-bottom: 3rem;
    }

    figure{
        width: 100%;
        margin-top: 1rem;
    }
}

@media (max-width: 400px){
    .mo{
        display: block;
    }
}

@media (max-width: 300px){
    .hero-txt p{
        font-size: 12px;
    }
}