@media (max-width:1700px){
    .title{
        font-size: 13rem;
    }
    .aboutMe {
        margin-top: 6rem;
        display: grid;
        grid-template-columns: 1fr 575px;
        column-gap: 1rem;
    }
}

@media (max-width:1440px){
    .title{
        font-size: 9rem;
        margin-top: -0.5rem;
     }

.aboutMe {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: minmax(50px,1fr) 380px;
    column-gap: 1rem;
    /* overflow: hidden; */
}

    .banner-list-desc{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
}

@media (max-width:1140px){
    header{display: none;}
    .btn-menu{
        display: block;
        position: fixed;
        top: 2rem;
        left: calc(50% - 1.5rem);
        width: 3rem;
        aspect-ratio: 1/1;
        filter: drop-shadow(0 0 10px rgba(0,0,0,0.2));
        z-index: 10000000;
        transition: all 1s ease 0s;
        filter: blur(0px);
        opacity: 1;
        pointer-events: auto;
        
    }

    .btn-menu.fadeout{
        filter: blur(100px);
        opacity: 0;
        pointer-events: none;
    }

    .btn-menu img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .header-smart {
        display: flex;
        z-index: 100000000000;
        position: fixed;
        left: 11rem;
        right: 11rem;
        top: 7rem;
        bottom: 5rem;
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(10px);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
        border-radius: 2rem;
        overflow: auto;
        filter: blur(0);
        opacity: 1;
        pointer-events: auto;
        transition: all 0.5s ease 0s;
        justify-content: center;
        align-items: center;
    }

    .header-smart.fadeout{
        filter: blur(100px);
        opacity: 0;
        pointer-events: none;
    }

    .gnb-smart {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        padding: 2rem 0;
    }
}

@media (max-width:1024px){
    .hero{
        width: 100%;
        height: 1024px;
    }

    .non-tab{
        display: none;
    }

    .only-tab{
        display: block;
        text-align: center;   
    }

    .only-tab h2{
        font-size: 6vw;
        margin-bottom: 3rem;
    }

    .aboutMe {
        display: grid;
        grid-template-columns: 8fr 4fr;
        overflow: hidden;
    }

    .aboutMe figure {
        width: auto;
        height: auto;
        overflow: hidden;
        flex: 1;
    }

    .only-tab{
        grid-column: 1/3;
    }

    .exp-wrap{
        display: grid;
        grid-template-columns: repeat(2, minmax(50px, 1fr));
        gap: 1rem;
    }

    .exp-list li{
        grid-template-columns: 100px 1fr;
    }


    .aboutMe-title{
        grid-column: 1/3;
    }

    .aboutMe figure {
        overflow: hidden;
        margin-bottom: 3.5rem;
        grid-column: 2/3;
        grid-row: 2/3;
        align-self: end;
    }

    .project-sticky-menu{
        display: flex;
        gap: 1rem;
        position: sticky;
        left: 0;
        top: 1rem;
    }

    
}