@media (max-width:1700px){
    .title{
        font-size: 13rem;
    }
}

@media (max-width:14400px){
    .title{
        font-size: 9rem;
        margin-top: -0.5rem;
     }
}

@media (max-width:1024px){
    .hero{
        width: 100%;
        height: 1024px;
    }

    .non-tab{
        display: none;
    }

    .only-tab{
        display: block;
        text-align: center;   
    }

    .only-tab h2{
        font-size: 6vw;
        margin-bottom: 3rem;
    }

    .aboutMe{
        display: grid;
        grid-template-columns: 8fr 4fr;

    }

    .aboutMe figure {
        width: auto;
        height: auto;
        overflow: hidden;
        flex: 1;
    }

    .only-tab{
        grid-column: 1/3;
    }

    .exp-wrap{
        display: grid;
        grid-template-columns: repeat(2, minmax(50px, 1fr));
        gap: 1rem;
    }

    .exp-list li{
        grid-template-columns: 100px 1fr;
    }


    .aboutMe-title{
        grid-column: 1/3;
    }

    .aboutMe figure {
        overflow: hidden;
        margin-bottom: 3.5rem;
        grid-column: 2/3;
        grid-row: 2/3;
        align-self: end;
    }



}