.hero{
    height: 100vh;
    position: relative;
}

.hero figure{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero figure video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.9);
}

.hero-txt {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}
  
.hero-title{
    font-size: 5.8vw;
}

.mo{
    display: none;
}

.aboutMe {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr 737px;
    column-gap: 1rem;
}

.aboutMe-desc{
    /* grid-column: 3/1; */
}

.subtitle {
    margin-top: 1rem;
    font-size: 50px;
}

.title {
    font-size: 15rem;
    margin-bottom: 3rem;
    margin-top: -2.5rem;
}

.only-tab{
    display: none;
}

.aboutMe-desc h2{
    margin-bottom: 3rem;
}

.amContent p{
    margin-bottom: 1rem;
}

.lastContent{
    margin-bottom: 0;
}

.aboutMe-dl {
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
    display: grid;
    grid-template-columns: 170px 1fr;
    gap: .5rem;
}

.aboutMe-dl dt{
    text-transform: uppercase;
    font-weight: var(--weight1);
}


.aboutMe figure {
    overflow: hidden;
    margin-bottom: 3.5rem;
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: end;
}

.aboutMe figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.myExp {
    background: url(../img/sky-bg.jpg) no-repeat 50% 50% / cover;
    /* background-color: #a3bcd5; */
    padding: 3rem 0;
    /* color: #fff; */
}

.exp-title{
    text-align: center;
    font-size: 7vw;
}

.exp-title+p{
    text-align: center;
    margin-bottom: 3rem;
}

.exp-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.exp-wrap h2 {
    margin-bottom: 2rem;
}

.exp-list li{
    margin-bottom: .5rem;
    display: grid;
    grid-template-columns: 120px 1fr;
}

.exp-list-last {
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.exper h4{
    margin-bottom: 1rem;
}

.skill{
    margin-top: 6rem;
    text-align: center;
}

.skill-title+p{
    margin-bottom: 2rem;
}

.skill-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    gap: 1rem;
    text-align: left;
}

.skill-grid>li {
    padding: 1rem;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    transition: all 0.5s ease 0s;
}

.skill-grid>li:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.skill-grid>li>h4{
    margin-bottom: 1rem;
}

.popup{
    margin-bottom: 6rem;
}

.popup .popup-wrap{
    width: 100%;
}

.popup-title{
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.popup-title+p{
    text-align: center;
    margin-bottom: 3rem;
}

.popup-train .popup-list{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.popup-list h4{
    padding: .5rem;
}

.popup-list p{
    padding: .5rem;
}

.popup-list figure{
    width: 100%;
    aspect-ratio: 1/1;
}

.popup-list figure img{
    width: 100%;
}